#contactArea {
    display: flex;
    flex-direction: row;
}

#contactText {
    width: 30vw;
    padding-right: 10vw;
}

#contactTitle {
    color: white;
    opacity: 1;
}

#contactForm {
    text-align: center;
    width: 40vw;
}

.inputField {
    box-sizing: border-box;
    background-color: rgb(50, 50, 50);
    border: 0;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    font-weight: 300;
    color: white;
}

.inputField:focus {
    outline: none;
    border-bottom: 1px solid var(--myGreen);
}

#messageArea {
    height: 250px;
}

#contactButton {
    float: right;
    cursor: pointer;
    color: var(--myGreen);
    font-weight: 200;
    font-size: 14px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    border: .5px solid var(--myGreen);
    background-color: rgb(0, 0, 0, 0);
}

#contactButton:hover {
    color: black;
    background-color: var(--myGreen);
}

.thankMsg {
    margin-top: 100px;
    color: white;
}

.alignTop {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.hello {
    margin-top: 35px;
    height: 125px;
}

@media screen and (max-width: 952px) {
    #contactArea {
        margin-top: 26vh;
        padding-bottom: 130px;
    }

    .hello {
        margin-top: 35px;
        height: 70px;
    }
}

@media screen and (max-width: 575px) {
    .alignTop {
        flex-direction: column;
    }
    #contactText {
        width: 85%;
        padding-right: 0vw;
        margin-left: 5%;
    }
    #contactForm {
        text-align: center;
        width: 70vw;
        margin-left: 5%;
    }
}