:root {
    --myGreen: rgb(0, 255, 171);
    --myBlack: rgb(26, 26, 26);
}

* {
    font-family: 'Alexandria', sans-serif;
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--myBlack);
    background-image: linear-gradient(137deg, rgba(60, 60, 60, 1) 0%, rgba(40, 40, 40, 1) 24%, rgba(15, 15, 15, 1) 85%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-font-smoothing: subpixel-antialiased;
}

nav {
    z-index: 10;
    position: fixed;
    width: calc(100vw - 30px);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(0, 0, 0, .2);
    backdrop-filter: blur(8px)
}

.navAnimationUp {
    animation: navUpAnim 1s ease 0s 1 normal forwards;
}

@keyframes navUpAnim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}

.navAnimationDown {
    animation: navDownAnim 1s ease 0s 1 reverse forwards;
}

@keyframes navDownAnim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
    }
}

#brand {
    margin-left: 5px;
    display: flex;
    align-content: center;
    animation: brandAnim 1s ease 0s 1 normal forwards;
}

@keyframes brandAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#lilSkull {
    background-image: url(../Images/LilSkull_white.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 20;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 28px;
    width: 28px;
}

#lilSkull:hover {
    background-image: url(../Images/LilSkull_green.svg);
}

nav .name {
    margin-left: 35px;
    margin-top: 7.5px;
    font-weight: lighter;
    color: white;
}

nav .portfolio {
    font-weight: bolder;
    margin-top: 7.5px;
    color: white;
}

#navLinks {
    display: flex;
    align-content: center;
    animation: navLinksAnim 1s ease 0s 1 normal forwards;
}

@keyframes navLinksAnim {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-link {
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 14px;
    padding: 8px;
    margin-right: 10px;
    margin-left: 20px;
}

.nav-link:hover {
    color: var(--myGreen);
}

.resume-link {
    cursor: pointer;
    color: var(--myGreen);
    font-weight: 200;
    font-size: 14px;
    padding: 8px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border: .5px solid var(--myGreen);
}

.resume-link:hover {
    color: black;
    background-color: var(--myGreen);
}

/*-----------------*/

@media screen and (max-width: 575px) {
    nav {
        padding: 3px;
    }

    #navLinks {
        display: none;
    }

    #lilSkull {
        display: none;
    }
}

#socialLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 20px;
    z-index: 5;
    position: fixed;
    bottom: 0px;
    transition: opacity 2s;
    opacity: 0;
}

@keyframes socialLinksAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes socialLinksAnimOut {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#navLine {
    z-index: 5;
    bottom: 0px;
    left: 33px;
    width: 1px;
    height: 150px;
    background-color: white;
}

.socialLink {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform .3s;
}

.socialLink:hover {
    transform: translateY(-3px);
    transition: transform .3s;
}

#LinkedIn {
    background-image: url(../Images/LinkedInLogo.svg);
}

#GitHub {
    background-image: url(../Images/GitHubLogo.svg);
}

#LinkedIn:hover {
    background-image: url(../Images/LinkedInLogoGreen.svg);
}

#GitHub:hover {
    background-image: url(../Images/GitHubLogoGreen.svg);
}