#introArea {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;
}

.introText {
    width: 50%;
    margin-right: 8%;
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

.introText h1 {
    font-size: 50px;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity .5s;
}

.introTextAnimation {
    opacity: 1;
    animation: introTextAnim 1.5s ease-in-out 0s 1 normal both;
}

@keyframes introTextAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.introText h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.introText span {
    color: var(--myGreen);
}


.introImage {
    width: 50%;
}

/*-----------------*/

@media screen and (max-width: 575px) {
    #introArea {
        flex-direction: column;
    }

    .introText {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .introText h1 {
        font-size: 35px;
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity .5s;
    }

    .introImage {
        width: 80%;
        margin-right: 10%;
        margin-left: 8.5%;
    }
}