.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80vw;
    margin: auto;
    justify-content: center;
}

#introContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#introText {
    width: 50%;
    margin-right: 8%;
}

.Text {
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

h1 {
    font-size: 4.5vw;
    line-height: 4.5vw;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity .5s;
}

.introTextAnimation {
    opacity: 1;
    animation: introTextAnim 1.5s ease-in-out 0s 1 normal both;
}

@keyframes introTextAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

span {
    color: var(--myGreen);
}


.introImage {
    width: 50%;
}

/*-----------------*/

@media screen and (max-width: 992px) {
    .section {
        height: 100%;
    }
    h1 {
        font-size: 44px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    #introContent {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    #introText {
        width: 100%;
        margin-right: 0%;
    }
    h2 {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 15px;
    }
    .Text {
        font-size: 14px;
        line-height: 20px;
    }
    .introImage {
        margin-top: 30px;
        width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .section {
        width: 75vw;
    }

    .introImage {
        width: 80%;
    }
}