#projectsTitle {
    color: white;
    margin-bottom: 10px;
}

#projectsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 75vh;
    width: 100%;
}

#project1 {
    grid-area: 1 / 1 / 3 / 5;
    background-image: url(../Images/screenshotFitness.png);
    background-position: center;
}

#project2 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url(../Images/screenshotMovie.png);
    background-position: center;
}

#project3 {
    grid-area: 3 / 3 / 5 / 5;
    background-image: url(../Images/screenshotWeather.png);
}

.project {
    background-size: cover;
}

.projectOverlay {
    background-color: var(--myGreen);
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding-left: 4vw;
    padding-right: 30vw;
    position: relative;
}

.project:hover .projectOverlay {
    opacity: 1;
}

.projectName {
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 5px;
}

.projectInfo {
    position: absolute;
    bottom: 10%;
}

.projectDescription {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 1.5vw;
}

.projectLink {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.5vw;
    line-height: 2vw;
}

.projectLink p {
    margin-top: 5px;
}

.linkArrow {
    color: white;
    transition: all 0.2s ease-in-out;
}

.projectLink:hover {
    color: black;
}

.projectLink:hover .linkArrow {
    margin-left: 5px;
    color: black;
}

#portfolioSelector {
    display: flex;
}

.selector {
    color: white;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 1.5vw;
}

.currentPortfolio {
    padding-bottom: 2px;
    border-bottom: 5px solid var(--myGreen);
}

.hidden {
    display: none !important;
}

#projectsGridGD {
    display: grid;
    grid-template-columns: repeat(auto-fit(4, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 75vh;
    width: 100%;
}

.GDOverlay {
    display: flex;
    background-color: var(--myGreen);
    height: 100%;
    font-size: 40px;
    font-weight: 800;
    color: black;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.GDproject {
    background-size: cover;
}

.GDproject:hover .GDOverlay {
    opacity: 1;
}

#GD1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(../Images/GDPortfolio/WhiteElephant.jpg);
    background-position: center;
}

#GD2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../Images/GDPortfolio/Checquers.jpg);
    background-position: center;
}

#GD3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(../Images/GDPortfolio/LNB_1.jpg);
    background-position: cover;
}

#GD4 {
    grid-area: 1 / 4 / 2 / 5;
    background-image: url(../Images/GDPortfolio/LNB_2.jpg);
    background-position: center;
}

#GD5 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(../Images/GDPortfolio/Poster_1.jpg);
    background-position: cover;
}

#GD6 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(../Images/GDPortfolio/BizWest.jpg);
    background-position: center;
}

#GD7 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(../Images/GDPortfolio/Poster_2.jpg);
    background-position: center;
}

#GD8 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url(../Images/GDPortfolio/Jigsaw1.jpg);
    background-position: center;
}

#GD9 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url(../Images/GDPortfolio/Poster_3.jpg);
    background-position: center;
}

#GD10 {
    grid-area: 3 / 2 / 4 / 3;
    background-image: url(../Images/GDPortfolio/Poster_4.jpg);
    background-position: center;
}

#GD11 {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url(../Images/GDPortfolio/Poster_5.jpg);
    background-position: center;
}

#GD12 {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url(../Images/GDPortfolio/Sintel.jpg);
    background-position: center;
}

#GD13 {
    grid-area: 4 / 1 / 5 / 2;
    background-image: url(../Images/GDPortfolio/Poster_6.jpg);
    background-position: center;
}

#GD14 {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url(../Images/GDPortfolio/Western-white.jpg);
    background-position: center;
}

#GD15 {
    grid-area: 4 / 3 / 5 / 4;
    background-image: url(../Images/GDPortfolio/WhiteElephant.jpg);
    background-position: center;
}

#GD16 {
    grid-area: 4 / 4 / 5 / 5;
    background-image: url(../Images/GDPortfolio/Wincanton.jpg);
    background-position: center;
}






@media screen and (max-width: 992px) {
    #projectsArea {
        height: 100vh;
    }

    #projectsGrid {
        height: 60vh;
    }
}

@media screen and (max-width: 575px) {
    #projectsGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 80vh;
        width: 100%;
    }

    #project1 {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url(../Images/screenshotFitness.png);
        background-position: center;
        transition: background-image .5s;
    }

    #project2 {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../Images/screenshotMovie.png);
        background-position: center;
    }

    #project3 {
        grid-area: 3 / 1 / 4 / 2;
        background-image: url(../Images/screenshotWeather.png);
    }

    .project {
        background-size: cover;
    }

    .projectLink {
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-size: 13px;
        line-height: 13px;
    }
}