#projectsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 80vh;
    width: 100%;
}

#projectsTitle {
    color: white;
    margin-bottom: 20px;
}

#project1 {
    grid-area: 1 / 1 / 3 / 5;
    background-image: url(../Images/screenshotFitness.png);
    background-position: center;
    transition: background-image .5s;
}

#project2 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url(../Images/screenshotMovie.png);
    background-position: center;
}

#project3 {
    grid-area: 3 / 3 / 5 / 5;
    background-image: url(../Images/screenshotWeather.png);
}

.project {
    background-size: cover;
}

.projectOverlay {
    background-color: var(--myGreen);
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding-left: 4vw;
    padding-right: 30vw;
    position: relative;
}

.project:hover .projectOverlay {
    opacity: 1;
}

.projectName {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

.projectInfo {
    position: absolute;
    bottom: 10%;
}

.projectType {
    padding-top: 3vw;
    font-weight: 200;
}

.projectDescription {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 25px;
}

.projectLink {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.projectLink p {
    margin-top: 5px;
}

.linkArrow {
    color: white;
    transition: all 0.2s ease-in-out;
}

.projectLink:hover {
    color: black;
}

.projectLink:hover .linkArrow {
    margin-left: 5px;
    color: black;
}

@media screen and (max-width: 952px) {
    #projectsTitle {
margin-top: 200px;
    }
    #projectsGrid {
        width: 90%;
    }
}