#projectsTitle {
    color: white;
    margin-bottom: 10px;
}

#projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 75vh;
    width: 100%;
}

#project1 {
    background-image: url(../Images/screenshotFitness.png);
    background-position: center;
}

#project2 {
    background-image: url(../Images/screenshotMovie.png);
    background-position: center;
}

#project3 {
    background-image: url(../Images/screenshotBuffalo.png);
}

#project4 {
    background-image: url(../Images/screenshotKT.png);
    background-position: center;
}

.project {
    background-size: cover;
}

.projectOverlay {
    background-color: var(--myGreen);
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    position: relative;
}

.project:hover .projectOverlay {
    opacity: 1;
}

.projectName {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 5px;
}

.projectInfo {
    position: absolute;
    bottom: 10%;
}

.projectDescription {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;
    max-width: 85%;
}

.builtWith {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 23px;
}

.projectLink {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    line-height: 14.5px;
}

.projectLink p {
    margin-top: 10px;
    display: flex;
}

.arrow {
    margin-left: 5px;
    width: 12px;
    height: 14px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    transition: all 0.2s ease-in-out;
}

.projectLink:hover {
    color: black;
}

.projectLink:hover .arrow {
    margin-left: 10px;
    background-color: black;
}

#portfolioSelector {
    display: flex;
}

.selector {
    color: white;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 1.5vw;
}

.currentPortfolio {
    padding-bottom: 2px;
    border-bottom: 5px solid var(--myGreen);
}

.hidden {
    display: none !important;
}

#projectsGridGD {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100%;
}

#navigationAndCurrentInfo {
    display: flex;
    flex-direction: column;
}

#navigationGD {
    width: 10vw;
}

#viewportGD {
    background-color: white;
    display: flex;
    margin-right: 10vw;
    justify-content: center;
    overflow: hidden;
    width: 70vw;
    align-items: center;
}

.portfolioImageGD {
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
}

#navigationGD ul {
    list-style: none;
    font-weight: 200;
    font-size: 18px;
    color: white;
}

#navigationGD ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

#navigationGD ul li:hover {
    color: var(--myGreen);
}

#navigationArrowsGD {
    display: flex;
}

.navigationArrowGD {
    width: 25px;
    fill: white;
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.navigationArrowGD :hover {
    fill: var(--myGreen)
}

#currentInfo {
    list-style: none;
    font-weight: 200;
    font-size: 18px;
    color: white;
}

@media screen and (max-width: 992px) {
    #projectsArea {
        height: 100vh;
    }

    #projectsGrid {
        height: 60vh;
    }

    .selector {
        margin-bottom: 5px;
        font-size: 15px;
    }

    .currentPortfolio {
        padding-bottom: 2px;
        border-bottom: 3px solid var(--myGreen);
    }

    #viewportGD {
        height: 100%;
    }

    #projectsGridGD {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navigationGD ul li {
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    #navigationArrowsGD {
        display: none;
    }

    #viewportGD {
        width: 80vw;
        margin-right: 0px;
        margin-top: 15px;
    }

    #portfolioSelector {
        text-align: center;
        flex-direction: column;
    }

    .selector {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .currentPortfolio {
        padding-bottom: 0;
        border-bottom: 0;
        padding-left: 5px;
        border-left: 3px solid var(--myGreen);
        padding-right: 5px;
        border-right: 3px solid var(--myGreen);
    }

    .projectName {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 3px;
    }

    .projectDescription {
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 5px;
        max-width: 90%;
    }

    .builtWith {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .projectLink {
        font-size: 13px;
        line-height: 13px;
    }

    .projectLink p {
        margin-top: 8px;
        display: flex;
    }

    .arrow {
        width: 10px;
        height: 13px;
    }
}

@media screen and (max-width: 575px) {
    #projectsGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 70vh;
        width: 100%;
    }

    #project1 {
        background-image: url(../Images/screenshotFitness.png);
        background-position: center;
        transition: background-image .5s;
    }

    #project2 {
        background-image: url(../Images/screenshotMovie.png);
        background-position: center;
    }

    #project3 {
        background-image: url(../Images/screenshotBuffalo.png);
    }

    .project {
        background-size: cover;
    }

    .projectLink {
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-size: 13px;
        line-height: 13px;
    }

    .projectName {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 3px;
    }

    .projectDescription {
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 4px;
        max-width: 95%;
    }

    .builtWith {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .projectLink {
        font-size: 12px;
        line-height: 14px;
    }

    .projectLink p {
        margin-top: 5px;
        display: flex;
    }

    .arrow {
        width: 10px;
        height: 13px;
    }
}

@media screen and (max-width: 450px) {
    .projectDescription {
        display: none;
    }
}