#skillsArea {
    display: flex;
    width: 100%;
    align-items: center;
}

#skillsRow {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.skill {
    filter: brightness(.4) grayscale();
    text-align: center;
    color: var(--myGreen);
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    opacity: 0;
}

@keyframes skillAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.skillIcon {
    height: 45px;
}

.fullOpacity {
    filter: brightness(1);
    opacity: 1;
}

.skillsBubble {
    height: 90px;
    margin-right: 20px;
}

@media screen and (max-width: 1190px) {
    #skillsRow {
        flex: auto;
        column-gap: 3rem;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 992px) {
    #skillsArea {
        height: 100vh;
    }

    #skillsRow {
        row-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .skillsBubble {
        display: none;
    }

    .skillIcon {
        height: 70px;
    }
}

@media screen and (max-width: 575px) {
    #skillsRow {
        column-gap: 2rem;
        row-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }
}